<div class="row">
    <div class="col-md-10 col-md-offset-1">
        <div class="panel gmd">
            <div class="panel-heading"><label class="control-label" gumga-translate-tag="grupo.title"></label>
            </div>
            <div class="panel-body">
                <form name="GrupoForm" gumga-form novalidate>
		
		<gmd-input>
			<input
					class="form-control gmd"
					type="text"
                    name="nome"
					gumga-error
                    ng-model="grupo.data.nome"
					/>
			<span class="bar"></span>
			<label
					class="control-label"
					gumga-translate-tag="grupo.nome">nome</label>
		</gmd-input>
		

    <div class="col-md-6">
        <label for="produtos" gumga-translate-tag="produto.title"></label>
    </div>
    
    <div class="col-md-6">
        <label for="grupo.produtos" gumga-translate-tag="grupo.produtos"></label>
    </div>

	<div class="full-width-without-padding">
	    <gumga-many-to-many 
	            left-list="produto.data" 
	            right-list="grupo.data.produtos" 
	            left-search="produto.methods.asyncSearch('nome', param)"
	            filter-parameters="nome"
	            post-method="produto.methods.save(value)"
	            authorize-add="true">
	        <left-field>{{$value.nome}}</left-field>
	        <right-field>{{$value.nome}}</right-field>
	    </gumga-many-to-many>
	</div>
	
                    <gumga-errors label="Lista de erros" title="Lista de erros"></gumga-errors>
                    <gumga-form-buttons
                            back="grupo.list"
                            submit="grupo.methods.put(grupo.data)"
                            position="right"
                            valid="GrupoForm.$valid"
                            confirm-dirty="true"
                            continue="continue">
                    </gumga-form-buttons>
                </form>
            </div>
        </div>
    </div>
</div>