<div class="row">
    <div class="col-md-10 col-md-offset-1">
        <div class="panel gmd">
            <div class="panel-heading"><label class="control-label" gumga-translate-tag="grupo.title"></label>
            </div>
            <div class="panel-body">
                <form name="GrupoForm" gumga-form novalidate>

                    <div class="form-group">
                        <gmd-input>
                            <input class="form-control gmd" type="text" name="nome" gumga-error ng-model="grupo.data.nome" />
                            <span class="bar"></span>
                            <label class="control-label" gumga-translate-tag="grupo.nome">nome</label>
                        </gmd-input>
                    </div>


                    <div class="row">
                        <div class="col-md-6">
                            <h5 for="produtos" class="page-header" gumga-translate-tag="produto.title">qwe</h5>
                        </div>

                        <div class="col-md-6">
                            <h5 for="grupo.produtos" class="page-header" gumga-translate-tag="grupo.produtos">qwe</h5>
                        </div>
                    </div>

                    <div>
                        <gumga-many-to-many
                            left-list="produto.data"
                            text-left="Listando {{$value}} {{$value > 1 ? 'itens': 'item'}}"
                            right-list="grupo.data.produtos"
                            text-right="Listando {{$value}} {{$value > 1 ? 'itens': 'item'}}"
                            left-search="produto.methods.asyncSearch('nome', param)"
                            filter-parameters="nome"
                            post-method="produto.methods.save(value)"
                            authorize-add="true">
                            <left-field>{{$value.nome}} - Categoria: {{$value.categoria.nome}}</left-field>
                            <right-field>{{$value.nome}} - Categoria: {{$value.categoria.nome}}</right-field>
                            </gumga-many-to-many>
                    </div>

                    <gumga-errors label="Lista de erros" title="Lista de erros"></gumga-errors>
                    <gumga-form-buttons back="grupo.list" submit="grupo.methods.put(grupo.data)" position="right" valid="GrupoForm.$valid" confirm-dirty="true"
                        continue="continue">
                        </gumga-form-buttons>
                </form>
            </div>
        </div>
    </div>
</div>