<div class="row">
    <div class="col-md-10 col-md-offset-1">
        <div class="panel gmd">
            <div class="panel-heading"><label class="control-label" gumga-translate-tag="grupo"></label>
            </div>
            <div class="panel-body">
                <div class="row">

                    <div class="col-sm-5">
                        <a ui-sref="grupo.insert" class="btn gmd raised btn-primary">
                            <i class="glyphicon glyphicon-plus"></i>Novo
                        </a>

                        <button type="button" class="btn gmd raised btn-danger"
                                ng-click="grupo.methods.delete(selectedValues)"
                                gumga-confirm="Deseja remover?">
                            <i class="glyphicon glyphicon-trash"></i>Remover
                        </button>
                    </div>

                    <div class="col-sm-7">
                        <gumga-query search="grupo.methods.search(field,param)"
                                     advanced-search="grupo.methods.advancedSearch(param)"
                                     saved-filters="grupo.methods.getQuery(page)">
                            <search-field label="nome"
                                          field="nome"></search-field>
                            <search-field label="produtos"
                                          field="produtos"></search-field>
                            <advanced-search-field type="string" label="nome"
                                                   field="nome"></advanced-search-field>
                            <advanced-search-field type="string" label="produtos"
                                                   field="produtos"></advanced-search-field>
                        </gumga-query>
                    </div>
                </div>

                <br>
                <div class="row">
                    <div class="col-sm-6">
                        <gumga-query-action
                                entity="grupo"
                                selected="selectedValues"
                                query="query"
                                beyond="beyond"
                                actions="actions"
                                on-action="action(queryaction)">
                        </gumga-query-action>
                    </div>
                </div>
                <br>

                <div class="row">
                    <div class="col-sm-12">
                        <gumga-list sort="grupo.methods.sort(field, dir)"
                                    class="table-striped table-condensed"
                                    data="grupo.data"
                                    configuration="tableConfig">
                        </gumga-list>
                    </div>
                </div>

                <div class="row">
                    <div class="col-sm-12">
                        <ul uib-pagination
                            ng-model="page"
                            max-size="10"
                            boundary-links="true"
                            previous-text="‹"
                            next-Text="›"
                            first-text="«"
                            last-text="»"
                            items-per-page="grupo.pageSize"
                            total-items="grupo.count"
                            ng-change="grupo.methods.get(page)">
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>